DB_SOLSCORE_HOST=HOTE_POSTGRES_APISOLSCORE
DB_SOLSCORE_PORT=5432
DB_SOLSCORE_NAME=BASE
DB_SOLSCORE_USER=UTILISATEUR
DB_SOLSCORE_PASSWORD=MOT_DE_PASSE

DB_AUDIT_HOST=mysql
DB_AUDIT_PORT=3306
DB_AUDIT_NAME=solscore
DB_AUDIT_USER=solscore
DB_AUDIT_PASSWORD=MOT_DE_PASSE
DB_AUDIT_ROOT_PASSWORD=MOT_DE_PASSE_ROOT

OIDC_ISSUER=https://login.microsoftonline.com/ID_TENANT/v2.0
OIDC_AUDIENCE=ID_APPLICATION
CORS_ORIGINS=http://localhost:4200

#APP_ENV=dev
#AUTH_DEV_TOKEN=
#AUTH_DEV_USER=dev@fondasol.fr
